*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-color: #F0F2F5;
}

 h1{
    text-align: center; 
    font-size: 60px; 
    font-family: helvetica;
    color: #0866FF;
    padding: 16px;
}

.form{
    height: 650px;
    width: 28%; 
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(170, 170, 170);
    background-color: white;
    padding: 20px;
    margin: 0px 600px 150px 600px
}

.fcontainer{
    padding: 8px;
    text-align: center;
}

.fcontainer>h2{
    color: #1C1E21;
    font-size: 25px;
    font-family: helvetica;
    font-weight: 600;
}

.fcontainer>p{
    font-size: 14px;
    color: #8D94AA;
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px 2px;
    font-weight: 20px;
    
}

.name{
    display: flex;
    gap: 13px;
    justify-content: center;
    margin-top: 14px;
    text-align: left; 
}

.name>input{
    padding: 12px;
    border-radius: 5px; 
    border: 1px solid #c6c8ca;
    color: #4f5158;
}

.dob{
    margin-top: 14px;
    text-align: left;
}

.dob>span>i{
    margin-bottom: 7px;
}

.dob span{
    color: #606770;
}

.dob>select{
    margin-right: 8.3px;
    padding: 15px;
    width: 125px;
    border-radius: 5px; 
    border: 1px solid #c6c8ca;
}

 .gender{
    position: relative;
    margin-top: 14px;
    text-align: left;
    color: #8D94AA;
 }
   
 .gender>span{
    color: #606770;
}

.gender>span>i{
    margin-bottom:7px;
}

.female{
    width: 120px;
    border: 1px solid #c6c8ca;
    border-radius: 5px;
    text-align: left;
    padding: 9px;
    position: absolute;
    right: 36%;
}

.female input[type = radio]{
    margin-left: 35px;
}


.male{
    width: 120px;
    border: 1px solid #c6c8ca;
    border-radius: 5px;
    text-align: left;
    padding: 9px;
}

.male input[type = radio]{
    margin-left: 50px;
}

.custom{
    width: 120px;
    border: 1px solid #c6c8ca;
    border-radius: 5px;
    text-align: left;
    padding: 9px;
    position: absolute;
    right: 3%;
    top: 36%;
}

.custom input[type = radio]{
    margin-left: 30px;
}

.contact{
    margin-top: 15px;
    margin-bottom: 9px;
    text-align: left;
}

.contact>input{
    margin-bottom: 10px;
    padding: 13px;
    width: 97%;
    color: #8D94AA;
    border: 1px solid #c6c8ca;
    border-radius: 5px;
}

.details{
    text-align: left;
    font-size: 11px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525355;
    margin-bottom: 20px;
}

.details a{
    text-decoration: none;
}

.sign{
    padding: 9px;
}

.sign>input{
    margin-bottom: 20px;
    padding: 13px;
    width: 45%;
    font-size: 12px;
    color: white;
    background-color: rgb(61, 182, 61);
    border-radius: 5px;
    outline: none;
    border: none;
}

.sign input[type = button]{
    margin-left: 110px;
}

.sign>h3>a{
    /* margin-left: 80px;   */
    font-size: 13px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sign h3{
    text-align: center;
}